@font-face {    
  font-family:'Minnadrop'; 
  src: url('./assets/fonts/Minnadrop-Regular.woff') format('woff'), url('./assets/fonts/Minnadrop-Regular.woff2') format('woff2');
  font-display: swap;
}

html, body {
  font-family:'Minnadrop';
  scroll-behavior: smooth;
}
.fontClass {
  font-family:'Minnadrop';
}