@font-face {    
  font-family:'Minnadrop'; 
  src: url('./assets/fonts/Minnadrop-Regular.otf') format('OpenType'), url('./assets/fonts/Minnadrop-Regular.otf') format('OpenType')
}

html, body {
  font-family:'Minnadrop';
}
#id{
  font-family:'Minnadrop';
}